.card-img-top{
    width: 100%; /* Set your desired width */
    height: auto; /* Maintain aspect ratio by setting height to auto */
    margin: auto;
}
.rounded-start{
    width: 100%; /* Set your desired width */
    height: auto; /* Maintain aspect ratio by setting height to auto */
    margin: auto;
    margin-top: 50px;
}